
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #1D2333;
    height:100px;
}
.header .logo{
    color:white;
    font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

    
}
.header .search-input input{
    background-color: #11141E;
    font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
text-align: left;
color:#DCDCDC;
border-radius:20px;
padding:1.2em;
border:none;
width:386px;


}
