.profile-container {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right:5%;
    gap:2em;
    margin-top:5%;
}

.profile-container .column-one {
    flex: 30%;
    background-color: #1D2333;
    padding:2em;
    border-radius:6px;
}
.profile-container .column-two{
    background-color: #1D2333;
    padding:2em;
    border-radius:6px;
}

.profile-container .column-one h2 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.profile-container ul{
    list-style-type: none;
    padding:0;
}
.profile-container .column-one ul li h3 {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
}

.profile-container .column-one ul li span {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
}

.profile-container .column-two {
    flex: 70%;
}
